@model IEnumerable<lab4_AmitAmit.Models.Post>
@{
    ViewData["Title"] = "Posts Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/blogpost.css" asp-append-version="true" />
</head>
<body>

<section class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="full-width">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p>@item.Content</p>
                        <hr class="divider">
                        <hr class="divider">
                        <hr class="divider">
                    </div>
                </div>
            </div>
            <p></p>
        }
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
